# Gradle files
.gradle/
.build/
local.properties
/.gradle

.gradle
/local.properties

# IntelliJ/Android Studio files
*.iml
.idea/
.DS_Store

/build
/captures
.externalNativeBuild
.cxx

# Release & Keystore files
/app/release/
/app/debug/
/keystore.jks
*.keystore

# Sample Files
/app/src/main/res/raw/trusted_data_sample.json
/app/src/main/res/raw/malicious_data_sample.json